@{
    ViewBag.Title = "NotFound";
}

<h1 class="display-4">@ViewBag.ErrorMessage</h1>

<h1 class="display-4">@ViewBag.Path</h1>

<h1 class="display-4">@ViewBag.QS</h1>

<h1 class="display-4">@ViewBag.PathBase</h1>

<a asp-action="index" asp-controller="home" class="btn btn-outline-success">
    Click here to navigate to the home page 
</a>
