<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1> @ViewBag.pageTitle </h1>

    <div>
        @ViewBag.employee.Name
    </div>
    <div>
        @ViewBag.employee.Departement
    </div>
    <div>
        @ViewBag.employee.Email
    </div>
</body>
</html>
