@model EmployeCRUDApp.Models.EmployeeModel

    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <title>Strongly Typed View</title>
        </head>
        <body>
            <h1>@ViewBag.pageTitle</h1>
            <div>
                @Model.Name
            </div>
            <div>
                @Model.Departement
            </div>
            <div>
                @Model.Email
            </div>
        </body>
    </html>
